[bumpversion]
<<<<<<< HEAD

current_version = 9.3.238
=======
current_version = 9.3.231
>>>>>>> d0075da (Bump version: 9.3.230 → 9.3.231)
commit = True
tag = True

[bumpversion:file:setup.py]

[bumpversion:file:deployhub/__init__.py]

[bumpversion:file:bin/dh]
